@media screen and (min-width: 700px) {
  #name h1 {
    font-size: 12vw;
  }
  
  #name p {
    font-size: 5vw;
  }

  #skillsTable {
    -ms-grid-columns: (22vw)[3];
    grid-template-columns: repeat(3, 22vw);
    -ms-grid-rows: (11vw)[6];
    grid-template-rows: repeat(6, 11vw);
  }

  #skillsTable > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  #skillsTable > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }

  #skillsTable > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }

  #skillsTable > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }

  #skillsTable > *:nth-child(5) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }

  #skillsTable > *:nth-child(6) {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }

  #skillsTable > *:nth-child(7) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }

  #skillsTable > *:nth-child(8) {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }

  #skillsTable > *:nth-child(9) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }

  #skillsTable > *:nth-child(10) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }

  #skillsTable > *:nth-child(11) {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
  }

  #skillsTable > *:nth-child(12) {
    -ms-grid-row: 4;
    -ms-grid-column: 3;
  }

  #skillsTable > *:nth-child(13) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }

  #skillsTable > *:nth-child(14) {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
  }

  #skillsTable > *:nth-child(15) {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
  }

  #skillsTable > *:nth-child(16) {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
  }

  #skillsTable > *:nth-child(17) {
    -ms-grid-row: 6;
    -ms-grid-column: 2;
  }

  #skillsTable > *:nth-child(18) {
    -ms-grid-row: 6;
    -ms-grid-column: 3;
  }

  #skillsTable h1 {
    font-size: 3vw;
  }

  #skillsTable p {
    font-size: 2.2vw;
  }

  #detail {
    font-size: 5.2vw;
  }

  #detail img {
    width: 5vw;
    height: 4vw;
  }

  main {
    width: 700px;
    margin-bottom: 130px;
  }
  
  main > section > h1 {
    font-size: 40px;
    margin: 50px 0 45px;
  }

  .card {
    border-radius: 6px;
    margin: 45px 0;
    -webkit-box-shadow: 7px 7px 9px #bbb;
            box-shadow: 7px 7px 9px #bbb;
  }

  .card h1 {
    font-size: 40px;
  }

  #aboutMySelf .card {
    padding: 70px 60px;
  }

  #aboutMySelf p {
    font-size: 26px;
  }
  
  #aboutMySelf p:last-of-type {
    margin-top: 30px;
  }
  
  #aboutMySelf img {
    width: 90px;
    height: 90px;
    margin-right: 40px;
  }

  #skills .card {
    padding: 70px 60px;
  }

  #skills ul {
    padding-left: 45px;
  }
  
  #skills li {
    font-size: 36px;
  }

  #works .card {
    padding-bottom: 70px;
    margin: 0;
  }

  #works .card img {
    margin-bottom: 60px;
    width: 100%;
    border-radius: 6px 6px 0 0;
  }

  #works .card h1 {
    font-size: 50px;
    margin-bottom: 40px;
  }
  
  #works .card h1 span {
    font-size: 30px;
  }
  
  #works .card h1::after {
    width: 30px;
    height: 30px;
  }

  #works .card table {
    font-size: 28px;
    width: 500px;
  }

  #works .card table th{
    width: 150px;
    padding-right: 40px;
  }

  #works .card table th:after{
    width: 30px;
    height: 4px;
    top: calc(50% - 2px);
    border-radius: 4px;
  }

  #works .card table td{
    width: 300px;
    padding-left: 10px;
  }

  footer {
    padding: 70px 70px;
  }

  footer h1 {
    font-size: 40px;
    margin-bottom: 70px;
  }

  footer .SNSButton {
    font-size: 40px;
    line-height: 60px;
    margin: 20px;
    padding: 20px 35px;
    border-radius: 50px;
    -webkit-box-shadow: 8px 8px 10px #bbb;
            box-shadow: 8px 8px 10px #bbb;
  }
  
  footer .SNSButton img {
    width: 75px;
    height: 60px;
    padding: 0 5px;
  }

  footer #mail {
    font-size: 35px;
  }

  footer #baloon {
    font-size: 20px;
    line-height: 20px;
    padding: 20px 40px;
    border-radius: 30px;
  }

  footer .copylight {
    font-size: 26px;
    margin-top: 70px;
    margin-bottom: 0;
  }
}

@media screen and (orientation: landscape){
  header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  #name {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }

  #name h1 {
    font-size: 7vw;
  }

  #name p {
    font-size: 3vw;
  }

  #skillsTable {
    -ms-grid-columns: 12vw .5vw 12vw .5vw 12vw;
    grid-template-columns: repeat(3, 12vw);
    -ms-grid-rows: 5vw .5vw 5vw .5vw 5vw .5vw 5vw .5vw 5vw .5vw 5vw;
    grid-template-rows: repeat(6, 5vw);
    gap: .5vw;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    margin: 0;
  }

  #skillsTable > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  #skillsTable > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }

  #skillsTable > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
  }

  #skillsTable > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }

  #skillsTable > *:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }

  #skillsTable > *:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
  }

  #skillsTable > *:nth-child(7) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }

  #skillsTable > *:nth-child(8) {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
  }

  #skillsTable > *:nth-child(9) {
    -ms-grid-row: 5;
    -ms-grid-column: 5;
  }

  #skillsTable > *:nth-child(10) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
  }

  #skillsTable > *:nth-child(11) {
    -ms-grid-row: 7;
    -ms-grid-column: 3;
  }

  #skillsTable > *:nth-child(12) {
    -ms-grid-row: 7;
    -ms-grid-column: 5;
  }

  #skillsTable > *:nth-child(13) {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
  }

  #skillsTable > *:nth-child(14) {
    -ms-grid-row: 9;
    -ms-grid-column: 3;
  }

  #skillsTable > *:nth-child(15) {
    -ms-grid-row: 9;
    -ms-grid-column: 5;
  }

  #skillsTable > *:nth-child(16) {
    -ms-grid-row: 11;
    -ms-grid-column: 1;
  }

  #skillsTable > *:nth-child(17) {
    -ms-grid-row: 11;
    -ms-grid-column: 3;
  }

  #skillsTable > *:nth-child(18) {
    -ms-grid-row: 11;
    -ms-grid-column: 5;
  }

  #skillsTable h1 {
    font-size: 1.9vw;
  }

  #skillsTable p {
    font-size: 1vw;
  }

  #bootstrap h1 {
    font-size: 1.5vw;
  }

  #detail {
    font-size: 2.5vw;
    width: 100%;             
    position: absolute;
    bottom: 0;
  }

  #detail img {
    height: 2.5vw;
    width: 3vw;
    bottom: .5vw;
  }
}

@media screen and (orientation: landscape) and (min-width: 1020px) {
  #name h1 {
    font-size: 5vw;
  }
  
  #name p {
    font-size: 2vw;
  }

  #skillsTable {
    -ms-grid-columns: (12vw)[3];
    grid-template-columns: repeat(3, 12vw);
    -ms-grid-rows: (5vw)[6];
    grid-template-rows: repeat(6, 5vw);
  }

  #skillsTable > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  #skillsTable > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }

  #skillsTable > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }

  #skillsTable > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }

  #skillsTable > *:nth-child(5) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }

  #skillsTable > *:nth-child(6) {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }

  #skillsTable > *:nth-child(7) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }

  #skillsTable > *:nth-child(8) {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }

  #skillsTable > *:nth-child(9) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }

  #skillsTable > *:nth-child(10) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }

  #skillsTable > *:nth-child(11) {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
  }

  #skillsTable > *:nth-child(12) {
    -ms-grid-row: 4;
    -ms-grid-column: 3;
  }

  #skillsTable > *:nth-child(13) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }

  #skillsTable > *:nth-child(14) {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
  }

  #skillsTable > *:nth-child(15) {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
  }

  #skillsTable > *:nth-child(16) {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
  }

  #skillsTable > *:nth-child(17) {
    -ms-grid-row: 6;
    -ms-grid-column: 2;
  }

  #skillsTable > *:nth-child(18) {
    -ms-grid-row: 6;
    -ms-grid-column: 3;
  }

  #detail img {
    height: 2vw;
    width: 2.5vw;
  }

  main {
    width: 970px;
  }

  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  #aboutMySelf .card {
    padding: 45px;
  }

  .card {
    margin: 0;
  }

  .card h1 {
    color: #6E6E6E;
    font-size: 30px;
    margin-top: 0;
  }

  #skills .card {
    width: 210px;
    padding: 45px;
  }

  #skills ul {
    padding-left: 25px;
  }

  #skills li {
    width: 100%;
    font-size: 22px;
    line-height: 1.5;
  }

  #works .card {
    width: 470px;
    padding-bottom: 45px;
  }

  #works .card h1 {
    font-size: 32px;
    margin-bottom: 25px;
  }
  
  #works .card h1 span {
    font-size: 18px;
  }
  
  #works .card h1::after {
    width: 18px;
    height: 18px;
  }

  #works .card table {
    font-size: 18px;
    width: 340px;
  }

  #works .card img {
    margin-bottom: 45px;
    width: 100%;
  }

  footer .SNSButton {
    width: 650px;
    margin: 20px auto;
  }
}