@media screen and (min-width: 700px) {
  /* tablet */
  #name h1 {
    font-size: 90px;
  }
  
  #name p {
    font-size: 35px;
  }

  #skillsTable {
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(6, 90px);
    gap: 12px;
  }

  #skillsTable h1 {
    font-size: 32px;
  }

  #skillsTable p {
    font-size: 19px;
  }

  #detail {
    font-size: 40px;
  }

  #detail img {
    width: 45px;
    height: 30px;
  }

  main {
    width: 700px;
    margin-bottom: 130px;
  }
  
  main > section > h1 {
    font-size: 40px;
    margin: 50px 0 45px;
  }

  .card {
    border-radius: 6px;
    margin: 45px 0;
    box-shadow: 7px 7px 9px #bbb;
  }

  .card h1 {
    font-size: 40px;
  }

  #aboutMySelf .card {
    padding: 70px 60px;
  }

  #aboutMySelf p {
    font-size: 26px;
  }
  
  #aboutMySelf p:last-of-type {
    margin-top: 30px;
  }
  
  #aboutMySelf img {
    width: 90px;
    height: 90px;
    margin-right: 40px;
  }

  #skills .card {
    padding: 70px 60px;
  }

  #skills ul {
    padding-left: 45px;
  }
  
  #skills li {
    font-size: 36px;
  }

  #works .card {
    padding-bottom: 70px;
  }

  #works .card img {
    margin-bottom: 60px;
    width: 100%;
    border-radius: 6px 6px 0 0;
  }

  #works .card h1 {
    font-size: 50px;
    margin-bottom: 40px;
  }
  
  #works .card h1 span {
    font-size: 30px;
  }
  
  #works .card h1::after {
    width: 30px;
    height: 30px;
  }

  #works .card table {
    font-size: 28px;
    width: 500px;
  }

  #works .card table th{
    width: 150px;
    padding-right: 40px;
  }

  #works .card table th:after{
    width: 30px;
    height: 4px;
    top: calc(50% - 2px);
    border-radius: 4px;
  }

  #works .card table td{
    width: 300px;
    padding-left: 10px;
  }

  footer {
    padding: 70px 70px;
  }

  footer h1 {
    font-size: 40px;
    margin-bottom: 70px;
  }

  footer .SNSButton {
    font-size: 40px;
    line-height: 60px;
    margin: 20px;
    padding: 20px 35px;
    border-radius: 60px;
    box-shadow: 8px 8px 10px #bbb;
  }

  footer .SNSButton img {
    width: 75px;
    height: 60px;
    padding: 5px;
  }

  footer .copylight {
    font-size: 26px;
    margin-top: 70px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1020px) {
  header {
    flex-direction: row;
    align-items: center;
    position: relative;
  }

  #name h1 {
    font-size: 84px;
  }
  
  #name p {
    font-size: 35px;
  }

  #skillsTable {
    grid-template-columns: repeat(3, 160px);
    grid-template-rows: repeat(6, 70px);
    gap: 15px;
  }

  #skillsTable h1 {
    font-size: 26px;
  }

  #skillsTable p {
    font-size: 15px;
  }

  #bootstrap h1 {
    font-size: 20px;
  }

  #detail {
    font-size: 40px;
    width: 100%;             
    position: absolute;
    bottom: 0;
  }

  #detail img {
    height: 30px;
    width: 40px;
  }

  main {
    width: 970px;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  #aboutMySelf .card {
    padding: 45px;
  }

  .card {
    margin: 0;
  }

  .card h1 {
    color: #6E6E6E;
    font-size: 30px;
    margin-top: 0;
  }

  #skills .card {
    width: 210px;
    padding: 45px;
  }

  #skills ul {
    padding-left: 25px;
  }

  #skills li {
    width: 100%;
    font-size: 22px;
    line-height: 1.5;
  }

  #works .card {
    width: 470px;
    margin-top: 40px;
    padding-bottom: 45px;
  }

  #works .card h1 {
    font-size: 32px;
    margin-bottom: 25px;
  }
  
  #works .card h1 span {
    font-size: 18px;
  }
  
  #works .card h1::after {
    width: 18px;
    height: 18px;
  }

  #works .card table {
    font-size: 18px;
    width: 340px;
  }

  #works .card img {
    margin-bottom: 45px;
    width: 100%;
  }

  footer .SNSButton {
    width: 700px;
    margin: 20px auto;
  }
}