body {
  margin: 0;
  font-family: source-han-sans-japanese, sans-serif;
  font-weight: 300;
  font-style: normal;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  background-image: url("img/bg.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
}

#name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  font-family: heebo, sans-serif;
  font-style: normal;
}

#name h1 {
  text-align: center;
  font-weight: 900;
  font-size: 14vw;
  margin: 0;
  letter-spacing: .9vw;
  line-height: 1;
}

#name p {
  text-align: center;
  font-weight: 300;
  font-size: 7vw;
  letter-spacing: .4vw;
  margin: 0;
}

#skillsTable {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 26vw 1.5vw 26vw 1.5vw 26vw;
  grid-template-columns: repeat(3, 26vw);
  -ms-grid-rows: 12vw 1.5vw 12vw 1.5vw 12vw 1.5vw 12vw 1.5vw 12vw 1.5vw 12vw;
  grid-template-rows: repeat(6, 12vw);
      grid-template-areas: 
    "ht re re"
    "ht re re"
    "cs cs ra"
    "cs cs fi"
    "do bo sw"
    "gi vu et"
  ;
  gap: 1.5vw;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0px auto;
}

#skillsTable > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#skillsTable .skillContainer {
  margin: 0 auto;
}

#skillsTable h1 {
  margin: 0;
  font-size: 3.5vw;
  font-weight: 900;
  letter-spacing: .1em;
  line-height: 1.4;
}

#skillsTable p {
  font-size: 2.5vw;
  margin: 4px 0 0;
  line-height: 1.3;
  letter-spacing: .1em;
}

#html {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  background: #EC407A;
  grid-area: ht;
}
#responsive {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  background: #7E57C2;
  grid-area: re;
}
#animation {
  -ms-grid-row: 5;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  background: #FF8A65;
  grid-area: cs;
}
#rails {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
  background: #4DD0E1;
  grid-area: ra;
}
#firebase {
  -ms-grid-row: 7;
  -ms-grid-column: 5;
  background: #E57373;
  grid-area: fi;
}
#docker {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
  background: #DCE775;
  grid-area: do;
}
#bootstrap {
  -ms-grid-row: 9;
  -ms-grid-column: 3;
  background: #64B5F6;
  grid-area: bo;
}
#bootstrap h1 {
  font-size: 12px;
}
#swift {
  -ms-grid-row: 9;
  -ms-grid-column: 5;
  background: #FFD54F;
  grid-area: sw;
}
#git {
  -ms-grid-row: 11;
  -ms-grid-column: 1;
  background: #4DB6AC;
  grid-area: gi;
}
#vue {
  -ms-grid-row: 11;
  -ms-grid-column: 3;
  background: #81C784;
  grid-area: vu;
}
#etc {
  -ms-grid-row: 11;
  -ms-grid-column: 5;
  background: #90A4AE;
  grid-area: et;
}

#detail{
  display: block;
  margin: 0 auto;
  font-size: 6vw;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  color: #fff;
}

#detail span {
  display: block;
  text-decoration: none;
  color: #fff;
}

#detail img {
  position: relative;
  bottom: 2vw;
  width: 7vw;
  height: 5vw;
  -o-object-fit: cover;
     object-fit: cover;
}

main {
  width: 310px;
  margin: 0 auto;
  margin-bottom: 50px;
  color: #6E6E6E;
}

main > section > h1 {
  font-size: 18px;
  text-align: center;
  margin: 25px 0 20px;
}

main > section > h1::before {
  content: "-"
}

main > section > h1::after {
  content: "-"
}

.card {
  background: #F5F5F5;
  -webkit-box-shadow: 4px 4px 5px #bbb;
          box-shadow: 4px 4px 5px #bbb;
  border-radius: 4px;
  color: #6E6E6E;
  margin: 20px 0;
}

.card h1 {
  font-size: 18px;
  margin-top: 0;
}

#aboutMySelf .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 30px;
}

#aboutMySelf p {
  font-size: 13px;
  margin: 0;
}

#aboutMySelf p:last-of-type {
  margin-top: 10px;
}

#aboutMySelf img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 50%;
}

#skills .card {
  padding: 20px 30px;
}

#skills ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 15px;
  margin: 0;
}

#skills li {
  width: 50%;
  font-size: 15px;
  margin: 5px 0;
}

#works .card {
  padding-bottom: 20px;
}

#works .card img {
   margin-bottom: 20px;
   width: 100%;
   border-radius: 4px 4px 0 0;
 }

#works .card h1 {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
  -webkit-text-decoration: underline solid #6E6E6E;
          text-decoration: underline solid #6E6E6E;
  cursor: pointer;
}

#works .card h1 a {
  color: #6E6E6E;
}

#works .card h1 span {
  font-size: 11px;
}

#works .card h1::after {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: url(img/link.svg);
  background-size: contain;
  vertical-align: bottom;
  margin-bottom: 2px;
}

#works .card table {
  font-size: 12px;
  width: 220px;
  margin: 0 auto;
}

#works .card table th{
  position: relative;
  text-align: right;
  width: 60px;
  padding-right: 23px;
}

#works .card table th:after{
  display: block;
  content: "";
  width: 15px;
  height: 2px;
  background-color: #6E6E6E;
  position: absolute;
  top: calc(50% - 1px);
  right: 0px;
  border-radius: 2px;
}

#works .card table td{
  width: 130px;
  padding-left: 7px;
}

#works .card table a{
  word-break: break-all;
}

footer {
  background: #F5F5F5;
  padding: 30px 30px 15px;
  text-align: center;
}

footer h1 {
  font-size: 17px;
  color: #6E6E6E;
  margin-bottom: 30px;
}

footer .SNSButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-size: 17px;
  line-height: 30px;
  color: #fff;
  margin: 10px;
  padding: 10px 20px;
  border-radius: 25;
  -webkit-box-shadow: 5px 5px 6px #bbb;
          box-shadow: 5px 5px 6px #bbb;
}

footer .SNSButton span {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
}

footer .SNSButton img{
  width: 40px;
  height: 30px;
}

footer #gform {
  background: #673AB7;
}

footer #twitter {
  background: #03A9F4;
}

footer #github {
  background: #747474;
}

footer #mail {
  background: #FFC107;
  font-size: 15px;
  cursor: pointer;
}

footer #baloon {
  position: absolute;
  background: #39D300;
  font-size: 10px;
  line-height: 10px;
  padding: 10px 20px;
  border-radius: 15px;
  -webkit-box-shadow: 2px 2px 6px #bbb;
          box-shadow: 2px 2px 6px #bbb;
  color: #fff;
  display: none;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
white-space: nowrap;
}

footer .copylight {
  font-size: 11px;
  color: #6E6E6E;
  margin-top: 30px;
}