body {
  margin: 0;
  font-family: sans-serif;
}

header {
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  background-image: url("img/bg.jpg");
  background-size: cover;
  background-position: center;
}

header > .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

#name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#name h1 {
  text-align: center;
  font-size: 53px;
  margin: 0;
}

#name p {
  font-style: italic;
  text-align: center;
  font-size: 22px;
  margin: 0;
}

#skillsTable {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(6, 50px);
  grid-template-areas: 
    "ht re re"
    "ht re re"
    "cs cs ra"
    "cs cs fi"
    "do bo sw"
    "gi vu et"
  ;
  gap: 5px;
  margin: 0px auto;
  flex-grow: 1;
  color: #fff;
}

#skillsTable > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#skillsTable .skillContainer {
  margin: 0 auto;
}

#skillsTable h1 {
  font-size: 15px;
  margin: 0;
  letter-spacing: .1em;
  line-height: 1.4;
  vertical-align: middle;
}

#skillsTable p {
  font-size: 11px;
  margin: 8px 0 0;
  line-height: 1.3;
  font-weight: bold;
  letter-spacing: .1em;
}

#html {
  background: #EC407A;
  grid-area: ht;
}
#responsive {
  background: #7E57C2;
  grid-area: re;
}
#animation {
  background: #FF8A65;
  grid-area: cs;
}
#rails {
  background: #4DD0E1;
  grid-area: ra;
}
#firebase {
  background: #E57373;
  grid-area: fi;
}
#docker {
  background: #DCE775;
  grid-area: do;
}
#bootstrap {
  background: #64B5F6;
  grid-area: bo;
}
#bootstrap h1 {
  font-size: 12px;
}
#swift {
  background: #FFD54F;
  grid-area: sw;
}
#git {
  background: #4DB6AC;
  grid-area: gi;
}
#vue {
  background: #81C784;
  grid-area: vu;
}
#etc {
  background: #90A4AE;
  grid-area: et;
}

#detail{
  display: block;
  margin: 0 auto 5px;
  text-decoration: none;
  text-align: center;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

#detail span {
  display: block;
  text-decoration: none;
  color: #fff;
}

#detail img {
  width: 30px;
  height: 20px;
  object-fit: cover;
}

main {
  width: 310px;
  margin: 0 auto;
  margin-bottom: 50px;
}

main > section > h1 {
  font-size: 18px;
  text-align: center;
  color: #6E6E6E;
  margin: 25px 0 20px;
}

main > section > h1::before {
  content: "-"
}

main > section > h1::after {
  content: "-"
}

.card {
  background: #F5F5F5;
  box-shadow: 5px 5px 6px #bbb;
  border-radius: 4px;
  padding: 20px 30px;
  color: #6E6E6E;
  margin: 20px 0;
}

.card h1 {
  color: #6E6E6E;
  font-size: 18px;
  margin-top: 0;
}

#aboutMySelf .card {
  display: flex;
  justify-content: center;
  align-items: center;
}

#aboutMySelf p {
  font-size: 13px;
  margin: 0;
}

#aboutMySelf p:last-of-type {
  margin-top: 10px;
}

#aboutMySelf img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

#skills ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 15px;
  margin: 0;
}

#skills li {
  width: 50%;
  font-size: 15px;
  line-height: 1.5;
}

#worksContainer .card img {
   margin: -20px -30px 20px;
   width: calc(100% + 60px);
 }

#worksContainer .card table {
   font-size: 12px
}

#worksContainer .card table {
  width: 220px;
  margin: 0 auto;
}

#worksContainer .card table th{
  position: relative;
  text-align: right;
  width: 60px;
  padding-right: 23px;
}

#worksContainer .card table th:after{
  display: block;
  content: "";
  width: 15px;
  height: 2px;
  background-color: #6E6E6E;
  position: absolute;
  top: calc(50% - 1px);
  right: 0px;
  border-radius: 2px;
}

#worksContainer .card table td{
  width: 130px;
  padding-left: 7px;
}

#worksContainer .card table a{
  word-break: break-all;
}

footer {
  background: #F5F5F5;
  padding: 30px 30px 15px;
  text-align: center;
}

footer h1 {
  font-size: 17px;
  color: #6E6E6E;
  margin-bottom: 30px;
}

footer .SNSButton {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 17px;
  line-height: 30px;
  color: #fff;
  margin: 10px;
  padding: 10px 20px;
  border-radius: 30px;
  box-shadow: 5px 5px 6px #bbb;
}

footer .SNSButton span {
  display: block;
  flex-grow: 1;
  text-align: center;
}

footer .SNSButton svg {
  width: 40px;
  height: 30px;
}

footer #twitter {
  background: #03A9F4;
}

footer #github {
  background: #747474;
}

footer #mail {
  background: #FFC107;
}

footer #twitter svg,
footer #github svg{
  fill: rgba(0,0,0,0);
  stroke: #fff;
  stroke-width: 35px;
}

footer #mail svg {
  fill: #fff;
}

footer .copylight {
  font-size: 11px;
  color: #6E6E6E;
  margin-top: 30px;
}